*{
    font-family: 'Nunito Sans', sans-serif;

}

a:active{
    color: red;
}

p.position-absolute{
  position: absolute;
  top: 70%;
  width:100%;
  height: auto;
  text-align: center;
  padding: 5px;
  opacity: 90%;
 
}



